@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color: #0a0d14;
    --primary-color-light: #20242f;
    --secondary-color: #f49e09;
    --extra-light: rgba(255, 255, 255, 0.5);
    --white:#ffffff;
    --max-width: 1200px;
    --header-font: "Lisu Bosa", serif;
    --content-font: "Poppins", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section__container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}
.section__header{
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--header-font);    
    text-align: center;
}
.section__subheader{
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.btn{
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--primary-color);
    cursor: pointer;
}
img{
    width: 100%;
    display: flex;
}
a{
    text-decoration: none;
}
html, 
body{
    scroll-behavior: smooth;
}
body{
    font-family: var(--content-font);
    color: var(--white);
    background-color:  var(--primary-color);
}
#home{
    background-image: linear-gradient(to top, var(--primary-color), transparent), url("assets/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid var(--extra-light);
}
.nav__bar{
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.nav__logo a {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
}
.nav__links{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.link a{
    padding: 1.5rem 5px;
    font-weight: 500;
    color: var(--white);
    transition: 0.3s;
}
.link:hover{
    color: var(--secondary-color);
    color: #f49e09;
    border-bottom: 2px solid var(--secondary-color);
}
.link > span{
    padding: 1rem 0;
    color: var(--white);
    cursor: pointer;
}
body{
    font-family: "Lisu Bosa", serif;
    font-family: "Poppins", sans-serif;
}
.header__container{
    padding: 12rem 1rem;
}
.header__container h1{
    margin-bottom: 1rem;
    max-width: 700px;
    font-size: 4rem;
    font-family: var(--header-font);
}
.header__container h4{
    position: relative;
    margin-left: 3rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 500;
}
.header__container h4::after{
    position: absolute;
    content: "";
    left: -3rem;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 2rem;
    background-color: var(--white);
}
.about_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}
.about_container :is(.section__header, .section__subheader){
    text-align: left;
}
.about__flex{
    margin: 2rem 0;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: var(--primary-color-light);
}
.about__card{
    flex: 1 1 150px;
    text-align: center;
    border-right: 2px solid var(--primary-color);
}
.about__card:last-child{
    border: none;
}
.about__card h4{
    margin-bottom: 5px;
    font-size: 3rem;
    font-weight:600;
    font-family: var(--header-font); 
}
.about__card p{
    font-size: 0.9rem;
}
.about__image img{
    max-width: 450px;
    margin: auto;
}

















